{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}
    Minha Conta | {{ block.super }}
{% endblock %}

{% block container %}
<div class="page-header">
    <ol class="breadcrumb">
      <li><a href="{% url 'core:index' %}">Início</a></li>
      <li><a href="{% url 'account:index' %}">Minha Conta</a></li>
    </ol>
    <div class="col-md-4">
        <div class="list-group">
          <a href="#" class="list-group-item active">Minha Conta</a>
          <a href="{% url 'account:update_user' %}" class="list-group-item">Alterar Dados</a>
          <a href="{% url 'account:update_password' %}" class="list-group-item">Alterar Senha</a>
        </div>
    </div>
    <div class="col-md-8">
        {% block account_container %}
        <h2>Bem vindo {{ user.get_short_name }}</h2>
        {% endblock %}
    </div>
</div>
{% endblock %}